*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    padding: 0.2rem;
    margin: 0.3rem;
}
h2{
    margin: 0.2rem;
    padding: 0.3rem;
}
#Email{
    display: flex;
    padding:0.3rem;
    margin: 1.4rem;
    color:white;
    background-color: gray;

}
#Password{
    display: flex;
    padding: 0.3rem;
    margin: 1.4rem;
    color:white;
    background-color: gray;
}
#Repeat{
display: flex;
padding: 0.3rem;
margin: 1.4rem;
color:white;
background-color: rgb(233, 214, 214);
}
span{
    color: blue;
}
#Register{
    padding:1.4 ;
    margin: 1.4rem;
    background-color: #04aa6d;
    display: flex;
    text-align: center;
    color: white;
    width: 95%;
    justify-content: center;
    
}
#sign{
    display: flex;
    justify-content: center;
}
#line{
    margin: 1.3rem;
}
#to{
margin: 1.3rem;
}

